@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    @apply antialiased;
  }
}

@layer utilities {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }
}
